doctype html
html
	include templates/partials/_head.jade

	body
		header.main-header
			div.container
				div.row
					div.col-lg-3.col-md-3.col-sm-3.col-xs-12
						div.logo
							a(href='index.html') Jet
								span ro		
						div.burger.visible-xs.hidden-lg
							a.btn.btn-primary(role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
								span.glyphicon.glyphicon-menu-hamburger
					div.col-lg-9.col-md-9.col-sm-9.col-xs-12
						nav.main-menu.collapse#collapseExample
							ul
								li
									a(href="index.html") Home
								li
									a(href="about.html") About us
								li
									a.active(href="blog.html") Blog
								li
									a(href="portfolio.html") Portfolio
								li
									a(href="contact.html") Contact us
		div.main-content
			div.container-fluid.orange-line.main-title
				div.container
					div.orange.clearfix
						h2 blog
			div.blog
				div.container
					div.row
						div.col-lg-9.col-md-9
							div.blog-item
								img(src="img/blog-1.png" alt="blog-item-img").item-image.img-responsive
								div.row
									div.col-lg-2
										div.option.option-date
											h6 Date
											p April 15, 2012
										div.option.option-tags
											h6 Tags
											p Website | Design
										div.option.option-comments
											h6 Comments
											p 4
									div.col-lg-10
										h4 
											a(href="#") Top wordpress themes of 2012
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem debitis ad voluptatem neque minus inventore, ea id aspernatur magnam aliquid. consectetur adipisicing elit. Rem nemo quae, explicabo quod a nulla
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nemo quae, explicabo quod a nulla.
							div.blog-item
								img(src="img/blog-2.png" alt="blog-item-img").item-image.img-responsive
								div.row
									div.col-lg-2
										div.option.option-date
											h6 Date
											p April 15, 2012
										div.option.option-tags
											h6 Tags
											p Website | Design
										div.option.option-comments
											h6 Comments
											p 4
									div.col-lg-10
										h4
											a(href="#") Jesus typography wallpaper giveaway!
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem debitis ad voluptatem neque minus inventore, ea id aspernatur magnam aliquid. consectetur adipisicing elit. Rem nemo quae, explicabo quod a nulla
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nemo quae, explicabo quod a nulla.
							div.blog-item
								img(src="img/blog-3.png" alt="blog-item-img").item-image.img-responsive
								div.row
									div.col-lg-2
										div.option.option-date
											h6 Date
											p April 15, 2012
										div.option.option-tags
											h6 Tags
											p Website | Design
										div.option.option-comments
											h6 Comments
											p 4
									div.col-lg-10
										h4
											a(href="#") Big buck bunny trailer
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem debitis ad voluptatem neque minus inventore, ea id aspernatur magnam aliquid. consectetur adipisicing elit. Rem nemo quae, explicabo quod a nulla
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nemo quae, explicabo quod a nulla.
							div.blog-item
								div.row
									div.col-lg-12
										div.pair
											p Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you.
							div.blog-item
								div.row
									div.col-lg-12
										div.nonimage
											h4
												a(href="#") Some of the best freebies on the internet
											a(href="#") www.bestpsdfreebies.com
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate eos velit vero suscipit nisi dolore, molestias aliquid quisquam nobis, ut neque, repudiandae minus deleniti magni ullam cumque in? Dignissimos.
							div.pagination
								ul
									li
										a.active(href="#") 1
									li
										a(href="#") 2
									li
										a(href="#") 3
						div.col-lg-3.col-md-3
							include templates/blocks/_aside.jade
		include templates/blocks/_footer.jade

		include templates/partials/_scripts.jade