doctype html
html
	include templates/partials/_head.jade

	body
		header.main-header
			div.container
				div.row
					div.col-lg-3.col-md-3.col-sm-3.col-xs-12
						div.logo
							a(href='index.html') Jet
								span ro
						div.burger.visible-xs.hidden-lg
							a.btn.btn-primary(role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
								span.glyphicon.glyphicon-menu-hamburger
					div.col-lg-9.col-md-9.col-sm-9.col-xs-12
						nav.main-menu.collapse#collapseExample
							ul
								li
									a(href="index.html") Home
								li
									a(href="about.html") About us
								li
									a(href="blog.html") Blog
								li
									a(href="portfolio.html") Portfolio
								li
									a.active(href="contact.html") Contact us
		div.main-content
			div.container-fluid.orange-line.main-title
				div.container
					div.orange.clearfix
						h2 contact us
			div.contact
				div.container
					div.row
						div.col-lg-9.col-md-9
							div#map
								iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d574855.7512389839!2d37.07207337058918!3d55.74929000731289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2skz!4v1464080982895" frameborder="0" style="border:0")
							div.row
								div.col-lg-4.message
									p Lorem ipsum dolor sit amet, in consectetur adipiscing elit. Siri Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum.
									p Best PSD Freebies<br>328 Ave C Saskatoon,<br>SK S7R 2V9
									p t: (888) 842 - 8356<br>f: (888) 452 - 9257<br>e: info@psdfreebies.com
								div.col-lg-8
									form
										input(type="text" placeholder="first name")
										input(type="text" placeholder="last name")
										input(type="text" placeholder="email adress")
										textarea(placeholder="message")
										button(type="submit") Submit
						div.col-lg-3.col-md-3
							include templates/blocks/_aside.jade

		include templates/blocks/_footer.jade

		include templates/partials/_scripts.jade