doctype html
html
	include templates/partials/_head.jade

	body
		header.main-header
			div.container
				div.row
					div.col-lg-3.col-md-3.col-sm-3.col-xs-12
						div.logo
							a(href='index.html') Jet
								span ro		
						div.burger.visible-xs.hidden-lg
							a.btn.btn-primary(role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
								span.glyphicon.glyphicon-menu-hamburger
					div.col-lg-9.col-md-9.col-sm-9.col-xs-12
						nav.main-menu.collapse#collapseExample
							ul
								li
									a.active(href="index.html") Home
								li
									a(href="about.html") About us
								li
									a(href="blog.html") Blog
								li
									a(href="portfolio.html") Portfolio
								li
									a(href="contact.html") Contact us
		div.main-content
			div.container-fluid.orange-line.main-title
				div.container
					div.orange.clearfix
						h2 Home
			div.home
				div.container
					div.row
						div.col-lg-12
							div.home-slider.clearfix
								div#carousel-example-generic.carousel.slide(data-ride="carousel")
									ol.carousel-indicators
										li(data-target="#carousel-example-generic" data-slide-to="1").active
										li(data-target="#carousel-example-generic" data-slide-to="2")
										li(data-target="#carousel-example-generic" data-slide-to="3")
									div.carousel-inner(role="listbox")
										div.item.active
											img(src="img/slide-1.png")
											div.c-caption
												h3 Slide 1
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sed perspiciatis rerum vitae. Pariatur, aperiam.
										div.item
											img(src="img/slide-2.png")
											div.c-caption
												h3 Slide 2
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sed perspiciatis rerum vitae. Pariatur, aperiam.
										div.item
											img(src="img/slide-3.png")
											div.c-caption
												h3 Slide 3
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sed perspiciatis rerum vitae. Pariatur, aperiam.
									a(href="#carousel-example-generic" role="button" data-slide="prev").left.carousel-control
										span.glyphicon.glyphicon-chevron-left
										span.sr-only Prev
									a(href="#carousel-example-generic" role="button" data-slide="next").right.carousel-control
										span.glyphicon.glyphicon-chevron-right
										span.sr-only Next
					div.row
						div.thumbnails.clearfix
							div.col-lg-2.col-md-4.col-sm-6.col-xs-6
								div.thumb-item
									a(href="#")
										img(src="img/thumb-1.png")
							div.col-lg-2.col-md-4.col-sm-6.col-xs-6
								div.thumb-item
									a(href="#")
										img(src="img/thumb-2.png")
							div.col-lg-2.col-md-4.col-sm-6.col-xs-6
								div.thumb-item
									a(href="#")
										img(src="img/thumb-3.png")
							div.col-lg-2.col-md-4.col-sm-6.col-xs-6
								div.thumb-item
									a(href="#")
										img(src="img/thumb-4.png")
							div.col-lg-2.col-md-4.col-sm-6.col-xs-6
								div.thumb-item
									a(href="#")
										img(src="img/thumb-5.png")
							div.col-lg-2.col-md-4.col-sm-6.col-xs-6
								div.thumb-item
									a(href="#")
										img(src="img/thumb-6.png")
					div.row
						div.features.clearfix
							div.col-lg-4.col-sm-4
								div.features-item
									img(src="img/features-1.png")
									h4 Check out my latest<br>portfolio items
									p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
									a(href="#") More
							div.col-lg-4.col-sm-4
								div.features-item
									img(src="img/features-2.png")
									h4 Offer top notch quality<br>work and services
									p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
									a(href="#") More
							div.col-lg-4.col-sm-4
								div.features-item
									img(src="img/features-3.png")
									h4 Follow me on facebook,<br>twitter and pinterest
									p Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
									a(href="#") More
		include templates/blocks/_footer.jade

		include templates/partials/_scripts.jade