aside
	div.aside-item.aside-about.clearfix
		h5.left-line about jetro
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quae quam ut impedit aliquam voluptatem, possimus magnam temporibus eum molestiae ipsum doloremque consequuntur distinctio voluptatum.
	div.aside-item.aside-categories.clearfix
		h5.left-line categories
		p
			a(href="#") Video(3)
		p
			a(href="#") Sports(5)
		p
			a(href="#") Media(2)
		p
			a(href="#") Entertainmen(7)
		p
			a(href="#") Life(4)
		p
			a(href="#") Super cool stuff(8)
	div.aside-item.aside-gallery.clearfix
		h5.left-line photogallery
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")
		div.aside-gallery-item
			a(href="#")
				img(src="" alt="" width="61px" height="61px")

