footer.main-footer
	div.container-fluid.orange-line
		div.container
			div.orange.clearfix
				div.col-lg-4.col-sm-4.footer-item
					h3 about jetro
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, esse, enim? Minus repellendus, omnis esse labore error ullam vel voluptatum dolores distinctio, voluptatibus corrupti neque reiciendis ipsum fuga veniam
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime sed dolore facere vel pariatur perspiciatis veniam doloribus eos deserunt repellendus.
				div.col-lg-4.col-sm-4.footer-item
					h3 twitter widget
					div.tweets
						p 
							a(href="#") @pixelmater
							span What an awesome design with great functionality :)
						p about 1 hour ago
					div.tweets
						p 
							a(href="#") @designdude 
							span What an awesome design with great functionality :)
						p about 2 hour ago
					div.tweets
						p Follow 
							a(href="#") @bestpsdfreebies
				div.col-lg-4.col-sm-4.footer-item
					h3 contact us
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eligendi quam nulla distinctio praesentium quisquam, provident dolorum repellendus!
					div.adress
						p
							a(href="#") information@jetro.com
						p 1.222.333.4444
					div.social
						ul
							li
								a(href="#")
									img(src="img/social-facebook.png", alt="facebook")
							li
								a(href="#")
									img(src="img/social-twitter.png", alt="twitter")
							li
								a(href="#")
									img(src="img/social-mail.png", alt="mail")
							li
								a(href="#")
									img(src="img/social-rss.png", alt="rss")
							li
								a(href="#")
									img(src="img/social-vimeo.png", alt="vimeo")

