.main-footer
	font-size 12px
	line-height 1.5
	color #fff
	a
		color #fff
.footer-item
	padding 40px
	padding-bottom 0
	&:last-child
		padding-bottom 40px
.tweets,
.adress
	margin-bottom 10px
	p
		margin-bottom 0px
	a
		color rgba(#fff, .5)
.social
	ul
		margin 0
		padding 0
		list-style none
		font-size 0
	li
		display inline-block
		vertical-align top
		margin-right 5px
		margin-bottom 5px

	
	