.logo
	float left
	padding 12px 0
	a
		font-family BebasRegular
		font-size 38px
		line-height 1.5
		font-weight 700
		color main-orange
		text-decoration none
		text-transform uppercase
		span
			color lighten(main-orange, 50%)
.burger
	float right
	padding 23.5px 0
	width 40px
	height 81px
	a
		background-color main-orange
		border-radius 0
		&:hover
			background-color main-orange
		&:active
			background-color main-orange
		&:focus
			background-color main-orange
.main-menu
	position absolute
	left 0
	right 0
	z-index 100
	ul
		text-align center
		margin 0
		padding 0
		background-color main-orange
		list-style none
	li
		border-bottom 1px solid #fff
	a
		font-family BebasRegular
		font-size 18px
		line-height 1.5
		font-weight 700
		color #fff
		text-decoration none
		text-transform uppercase
		&:hover
			color main-orange
		&:active
			color lighten(main-orange, 50%)
		&:focus
			text-decoration none
			color main-gray
	.active
			color rgba(#fff, 0.6)
	@media screen and (min-width: 768px)
		ul
			padding 0
			margin 0
			list-style none
			background-color #fff
			text-align right
		li
			display inline-block
			padding 27px 0
			margin-left 28px
			border none
		a
			font-family BebasRegular
			font-size 18px
			line-height 1.5
			font-weight 700
			color main-gray
			text-decoration none
			text-transform uppercase
			&:hover
				color main-orange
			&:active
				color lighten(main-orange, 50%)
			&:focus
				text-decoration none
				color main-gray
		.active
			color main-orange
@media screen and (min-width: 768px)
	.collapse
		display block